<div class="panel panel-default">
  <div class="panel-heading"><%= link_to "Click Here To Generate A New Superhero", root_path %></div>
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer"><%= link_to "Create A Whole Superhero Team", home_team_path %></div>
</div>